@charset "utf-8";


    header{
        height: 150px;
        width: auto;
    }

    footer{
        height: 150px;
        width: auto;
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }

	body {
        background-color:  #1D1E23;
	}


    .midbody{
        display: flex;
        justify-content: center;
    }

    .img2{
        width: 10%;
    }

    .img3{
        width: 1000%;

    }
    
    


@media all and (min-width: 960px) {

  }
 
 @media all and (min-width: 760px) and (max-width: 959px) {
    .img2{
        width: 20%;
    }

    .img3{
        width: 20%;

    }
 }

 @media all and (min-width: 480px) and (max-width: 759px) {

    .midbody{
        display: block;
        justify-content: center;
    }
    .img2{
        width: 20%;
    }

    .img3{
        width: 90%;

    }
 }

 @media all and (max-width: 480px) {

    
    .midbody{
        display: block;
        justify-content: center;
    }
    .img2{
        width: 20%;
    }

    .img3{
        width: 90%;

    }
 }


