@charset "utf-8";

	body {
    margin-top: 150px;
	height: 150px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color:  #1D1E23;

	}

    .img2{
        width: 15%;

    }

@media (max-width: 768px){
    .img2{
        width: 25%;
}

@media (max-width: 400px){
    body {
        margin-top: 150px;
        height: 150px;
        display: inline-block;
    }
    .img2{
        width: 30%;

}
    

