@charset "utf-8";


    header{
        height: 150px;
        width: auto;
    }

    footer{
        width:100%;
        margin-left: auto;
        margin-right: auto;

        
    }

	body {
        background-color:  #1D1E23;
	}


    .midbody{
        width:100%;
        margin-left: auto;
        margin-right: auto;

        text-align: center;
    }

    .img2{
        display: inline-block;

    }

    .img3{
        width: 100%;
        text-align: center;
    }

    @

    




