html {
    overflow-y: scroll;
    color: #000;
    font: 400 62.5%/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
body,
html {
    height: 100%;
    min-height: 100%;
}
body {
    margin: 0;
    font-size: 1.3rem;
    background: #fff;
    color: #000;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #1bb04c;
    background-color: transparent;
}
a:active,
a:hover {
    text-decoration: underline;
    color: #1bb04c;
    outline: 0;
}
h1,
h2 {
    margin: 0 0 0.5rem;
    color: #444;
    font-weight: 400;
    line-height: 1;
}
h1 { font-size: 2rem; }
h2 { font-size: 3.6rem; }
.error-code {
    color: #508372;
    font-size: 8rem;
    line-height: 1;
}
.foundlink {
    color: #508372;
    font-size: 3rem;
    line-height: 1;
	
	   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 5s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 5s infinite;
  
  /* Standar Syntax */
  animation: rainbow 5s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
   0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
    0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
  30%{color: CadetBlue;}
	40%{color: yellow;}
  50%{color: coral;}
	60%{color: green;}
  70%{color: cyan;}
  80%{color: DeepPink;}
  90%{color: DodgerBlue;}
	100%{color: orange;}
	
}
p { margin: 1.2rem 0; }
p.lead {
    font-size: 1.6rem;
    color: #4f5a64;
}
hr {
    box-sizing: content-box;
    height: 0;
    margin: 2.4rem 0;
    border: 0;
    border-top: 1px solid #ddd;
}

.main {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
    box-sizing: border-box;
    padding: 10rem 2rem ;
    min-height: 100vh;
}
.help-actions a {
    display: inline-block;
    border: 2px solid #1bb04c;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
}
.help-actions a:hover {
    text-decoration: none;
    background: #1bb04c;
    color: #fff;
}
